.bg-images {
  background-image: url("./assets/StatitsticCard.png");
  background-repeat: no-repeat;
}

.ql-container {
  height: 250px !important;
  width: 100%;
  overflow-y: auto;
}

.ql-container.ql-snow {
  border: 1px solid rgba(34, 34, 34, 0.2) !important;
  border-radius: 10px !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  display: flex !important;
  justify-content: end;
}

.background_color {
  background-color: rgba(201, 160, 56, 1);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.bg-image-clip {
  background-image: url("./assets/clipard.svg");
  background-repeat: no-repeat;


}

.rich-text-container {
  all: unset;
  /* Reset all inherited styles */
}

.page_not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}